################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Vido/setup/VidoSetup.exe
/Vido/obj
/Vido/bin
/.vs
