<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vido.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Vido.Properties.Settings>
            <setting name="AnimationSpeed" serializeAs="String">
                <value>Fast</value>
            </setting>
            <setting name="Color_ImageArea" serializeAs="String">
                <value>28, 28, 28</value>
            </setting>
            <setting name="Color_ControlBar" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="CustomImagePath_ZoomButton" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomImagePath_PreviousButton" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomImagePath_FullscreenButton" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomImagePath_NextButton" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomImagePath_SettingsButton" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoZoomImageToTopLeft" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTooltips" serializeAs="String">
                <value>True</value>
            </setting>
        </Vido.Properties.Settings>
    </userSettings>
</configuration>